
theme: beautiful-jekyll-theme

title: ParchmentMC
author: The ParchmentMC Team

navbar-links:
  Documentation:
    - Mapping Standards: "docs/mappings"
    - Maven Repository and Artifacts: "docs/maven"
    - Review Process: "docs/review"
    - Version Policy: "docs/versions"
  FAQ: "faq"
  About: "about"

avatar: "/assets/img/logo.png"
round-avatar: false

# If you want to have an image logo in the top-left corner instead of having the title of the website
#title-img: /path/to/image

social-network-links:
  email: "website@parchmentmc.org"
  rss: true
  github: ParchmentMC
  twitter: ParchmentMC

rss-description: Open community-sourced parameter names and javadocs

excerpt_length: 50
feed_show_excerpt: false
feed_show_tags: true
post_search: false
navbar-var-length: false
# The keywords to associate with your website, for SEO purposes
#keywords: "my,list,of,keywords"

# Colour values can be any valid CSS colour
navbar-col: "#FFE4B9"
navbar-text-col: "#404040"
navbar-border-col: "#DDDDDD"
page-col: "#FCFCFC"
text-col: "#404040"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#FCFCFC"
footer-text-col: "#777777"
footer-link-col: "#404040"
footer-hover-col: "#0085A1"

# Alternatively, the navbar, footer, and page background can be set to an image
#navbar-img: "/assets/img/bgimage.png"
#footer-img: "/assets/img/bgimage.png"
#page-img: "/assets/img/bgimage.png"

# Suggest a colour for mobile browsers to use as the browser's theme. This is only supported by a few mobile browsers.
#mobile-theme-col: "#0085A1"

site-css:
  - "/assets/css/notes.css"
#site-js:
#  - "/assets/js/custom-script.js"

# Ruby Date Format to show dates of posts
date_format: "%B %-d, %Y"

timezone: "Etc/UTC"
markdown: kramdown
highlighter: rouge
paginate: 5

kramdown:
  input: GFM

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      nav-short: true
  -
    scope:
      path: "" # any file that's not a post will be a "page" layout by default
    values:
      layout: "page"
      nav-short: true

# Exclude these files from production site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-mentions

# Collections
collections:
  - team_members # ParchmentMC team members
